body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url("gallery_img/golf.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px; 
    overflow-x: hidden;
  }

  ul {
    margin-left: -10%;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
  }

    h5 a {
    color: goldenrod;
    text-decoration: none;
  }

  p {
    font-size: 1em;
    color: #555;
    margin-bottom: 30px;
  }

  .image-card-wrapper {
    position: relative;
    width: 100%;
    height: 350px; 
    margin-bottom: 60px; 
  }

  .background-image {
    width: 100%;
    height: 400px;
    background-image: url("gallery_img/achievements.JPG");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }

  .background-image.fade {
    opacity: 0;
  }

  .features {
    position: absolute;
    bottom: -130px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .feature-box {
    background-color: #75bcff;
    color: #612b06;
    width: 150px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .feature-box:hover {
    background-color: #612b06;
    color:#75bcff;
    .icon {color: #75bcff;}
    .icon a {color: gold}
  }

  .icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #612b06;
  }

.icon a {
    color: #612b06;
  }

  .number {
    font-size: 2em;
    font-weight: bold;
  }

  .features-details {
    display:flex;
    flex-wrap:nowrap;
    gap: 20px;
    justify-content: center;
    margin-top: 150px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-detail-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: justify;
    cursor: default;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .feature-detail-box h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    cursor: default;
  }

  @media(max-width: 768px) {
    html {
      overflow-x: hidden;
    }
    .background-image {
      height: 100%;
    }
    .features {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 5px;
      bottom: -105%;
    }
    .feature-box {  
      height: -80%;
      width: 70%;
    }
    .features-details {
      flex-direction: column;
      align-items: center;
      margin-top: 130%;
    } 

  }
